.grid-wrapper{
    width: 500px;
}
.grid{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;
}
.reset{
    padding:1rem;
    color: white;
    background-color: var(--resetGreen);
    border-radius: 20px;
    border: none;
    width: 100%;
}